.table-header{
width:200;
margin-left:25%;
}

.table-header th {
    color:black;
    background-color: #CCC;
    border:1px solid whitesmoke;
    padding:0px 15px;
}
.table-main{
width:150;
margin-left: 25%;
}

.table-main tr {
    padding:0px 15px;
    background-color: white;
    border:1px solid white;
}
