<section class="main-about">
    <header>

    </header>
    <h1 class="title">Bulldog Tracker History</h1>
    <img class="aboutuspic" src="./assets/images/aboutuspic.jpg">
    <p class="aboutp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque, elit a dignissim pretium, dui nisl vestibulum tortor, sit amet porttitor eros elit in augue. Cras et velit urna. Morbi ut efficitur diam. Nulla facilisi. Mauris auctor eros
        urna, volutpat placerat sapien varius efficitur. Suspendisse potenti. Fusce nec mi ornare, egestas dui in, auctor nibh. Nullam dapibus, est eget suscipit dictum, urna lectus mollis nunc, et ultricies lacus felis quis nisi. Curabitur congue consequat
        luctus. Donec sagittis ipsum nec sem ornare efficitur. Maecenas purus justo, interdum vitae tellus eget, ullamcorper semper tellus. Nullam vitae consequat mauris, vel condimentum augue. Pellentesque ut maximus justo. Curabitur non magna nibh.
        Maecenas porta efficitur lorem eget tincidunt. Ut mattis aliquam tempus.</p>
    <br />
    <p class="aboutp2">
        Suspendisse pharetra tincidunt magna, a maximus nisl vehicula id. Proin bibendum elementum mattis. Pellentesque pellentesque sapien at diam rutrum tincidunt. Praesent finibus leo et ex vehicula, ut placerat urna tempus. Quisque imperdiet vitae odio non
        pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet iaculis libero. Donec bibendum, eros nec accumsan iaculis, tortor justo euismod nisi, non posuere nisi dolor ac eros. Sed dictum, tortor in porttitor viverra,
        purus mi aliquam est, at pharetra eros nulla consequat dolor. Duis vulputate mi neque, vitae efficitur arcu rhoncus et.
    </p>
    <br />
    <p class="aboutp3">
        Duis placerat luctus dignissim. Aenean eu pretium elit. Proin mollis sagittis faucibus. Sed elementum ex justo, non sollicitudin mi faucibus id. Donec id eros vel velit varius ultrices. Maecenas ut eros in mi feugiat facilisis quis sit amet arcu. Mauris
        laoreet massa velit. Vivamus ac molestie mauris.
    </p>
    <br/>
    <p class="aboutp4">
        Suspendisse pharetra tincidunt magna, a maximus nisl vehicula id. Proin bibendum elementum mattis. Pellentesque pellentesque sapien at diam rutrum tincidunt. Praesent finibus leo et ex vehicula, ut placerat urna tempus. Quisque imperdiet vitae odio non
        pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet iaculis libero. Donec bibendum, eros nec accumsan iaculis, tortor justo euismod nisi, non posuere nisi dolor ac eros. Sed dictum, tortor in porttitor viverra,
        purus mi aliquam est, at pharetra eros nulla consequat dolor. Duis vulputate mi neque, vitae efficitur arcu rhoncus et.
    </p>


    <img class="aboutuspic2" src="./assets/images/aboutus2.jpg">
</section>

