<div>
<h1>Add New Event</h1>
<h1>Enter Event Information</h1>

  <div>
    <p>
      <label class="label-tag" for="event-name">Name: </label>
      <input type="text" [(ngModel)]="event.eventName">
    </p>

    <p>
      <label class="label-tag" for="event-description">Description: </label>
      <input type="text" [(ngModel)]="event.eventDescription">
    </p>

    <p>
      <label class="label-tag" for="event-date">Date: </label>
      <input type="text" [(ngModel)]="event.eventDate">
    </p>

    <p>
      <label class="label-tag" for="event-time">Time: </label>
      <input type="text" [(ngModel)]="event.eventTime">
    </p>

    <p>
      <label class="label-tag" for="event-location-street">Street: </label>
      <input type="text" [(ngModel)]="event.eventStreet">
    </p>

    <p>
      <label class="label-tag" for="event-locacation-city">City: </label>
      <input type="text" [(ngModel)]="event.eventCity">
    </p>

    <p>
      <label class="label-tag" for="event-location-zip">Zip: </label>
      <input type="text" [(ngModel)]="event.eventZip">
    </p>

    <p>
      <label class="label-tag" for="event-price">Price: </label>
      <input type="text" [(ngModel)]="event.eventPrice">
    </p>


  </div>

  <div>
    <h1>Enter Organization Information</h1>

    <p>
      <label class="label-tag" for="event-organization-name">Organization Name: </label>
      <input type="text" [(ngModel)]="event.organizationName">
    </p>

    <p>
      <label class="label-tag" for="event-organization-address">Address: </label>
      <input type="text" [(ngModel)]="event.organizationAddress">
    </p>

    <p>
      <label class="label-tag" for="event-organization-city">City: </label>
      <input type="text" [(ngModel)]="event.organizationCity">
    </p>

    <p>
      <label class="label-tag" for="event-orgainzation-zip">Zip: </label>
      <input type="text" [(ngModel)]="event.organizationZip">
    </p>

    <p>
      <label class="label-tag" for="event-organization-description">Description: </label>
      <input type="text" [(ngModel)]="event.organizationDescription">
    </p>

    <p>
      <label class="label-tag" for="event-organization-type">Type: </label>
      <input type="text" [(ngModel)]="event.organizationType">
    </p>

  </div>

  <div>
    <h1>Enter Organizor Information</h1>

    <p>
      <label class="label-tag" for="event-orgainzaor-fname">First Name: </label>
      <input type="text" [(ngModel)]="event.organizorFirstName">
    </p>

    <p>
      <label class="label-tag" for="event-organizor-lname">Last Name: </label>
      <input type="text" [(ngModel)]="event.organizorLastName">
    </p>

    <p>
      <label class="label-tag" for="event-organizor-phone">Phone: </label>
      <input type="text" [(ngModel)]="event.organizorPhone">
    </p>

    <p>
      <label class="label-tag" for="event-orgainzor-email">Email: </label>
      <input type="text" [(ngModel)]="event.organizorEmail">
    </p>

    <p>
      <button (click)="addEvent(event)">Add Event</button>
      <p>
  </div>

  </div>