<!DOCTYPE HTML>
<html>

<head>
    <title>Event Page</title>
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <h1>Bulldog Event Tracker</h1>
        </header>
        <aside class="main-navigation">
            <main-navigation></main-navigation>
            <ul class="event-feed">
                <router-outlet></router-outlet>
            </ul>
        </aside>
        </section>
        <footer class="main-footer">
            <p class="copyright">(C) Created by Masters of the Web</p>
        </footer>
    </div>
</body>

</html>