.Event {
    height: 100px;
    width: 100px;
    background-color: #CCC;
}

.eventname {
    margin: 0 auto;
    text-align: center;
    font-size: 25pt;
    background-color: linen;
}

.mainevent {
    margin: 0 auto;
    text-align: left;
    font-size: 25pt;
}

.eventdetails {
    margin: 30px -84px;
    background-color: lightblue;
    width: 934px;
    float: right;
}

.eventdetails2 {
    margin: 30px 82px;
    background-color: wheat;
}

.mainevent2 {
    margin: 36px -84px;
    position: absolute;
    background-color: wheat;
    width: 934px;
    height: 450px;
    font-size: larger;
}